USE [master]
GO
/****** Object:  Database [farmacia]    Script Date: 08/06/2023 5:38:45 ******/
CREATE DATABASE [farmacia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'farmacia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\farmacia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'farmacia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\farmacia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [farmacia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [farmacia]
GO
/****** Object:  Table [dbo].[Tbl_Categoria]    Script Date: 08/06/2023 5:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Categoria](
	[Id_Cat] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Cat] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tbl_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id_Cat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Cliente]    Script Date: 08/06/2023 5:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Cliente](
	[Id_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NULL,
	[Municipio] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tbl_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_DetVentas]    Script Date: 08/06/2023 5:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_DetVentas](
	[Id_DetVenta] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [float] NOT NULL,
	[PrecioUnitario] [float] NOT NULL,
	[Id_Ventas] [int] NOT NULL,
 CONSTRAINT [PK_Tbl_DetVentas] PRIMARY KEY CLUSTERED 
(
	[Id_DetVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Productos]    Script Date: 08/06/2023 5:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Productos](
	[Id_Producto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Producto] [nvarchar](50) NOT NULL,
	[PrecioUnitario] [float] NOT NULL,
	[Stock_Inicial] [float] NOT NULL,
	[Id_Proveedore] [int] NOT NULL,
	[Id_Cat] [int] NOT NULL,
	[Id_DetVenta] [int] NOT NULL,
 CONSTRAINT [PK_Tbl_Productos] PRIMARY KEY CLUSTERED 
(
	[Id_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Proveedor]    Script Date: 08/06/2023 5:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Proveedor](
	[Id_Proveedore] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Proveedor] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](50) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Tbl_Proveedor] PRIMARY KEY CLUSTERED 
(
	[Id_Proveedore] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Ventas]    Script Date: 08/06/2023 5:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Ventas](
	[Id_Ventas] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_Venta] [date] NOT NULL,
	[Total_Venta] [float] NOT NULL,
	[Id_Cliente] [int] NOT NULL,
 CONSTRAINT [PK_Tbl_Ventas] PRIMARY KEY CLUSTERED 
(
	[Id_Ventas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 08/06/2023 5:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Usuario] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Tipo_usuario] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_DetVentas]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_DetVentas_Tbl_Ventas] FOREIGN KEY([Id_Ventas])
REFERENCES [dbo].[Tbl_Ventas] ([Id_Ventas])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_DetVentas] CHECK CONSTRAINT [FK_Tbl_DetVentas_Tbl_Ventas]
GO
ALTER TABLE [dbo].[Tbl_Productos]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Productos_Tbl_Categoria] FOREIGN KEY([Id_Cat])
REFERENCES [dbo].[Tbl_Categoria] ([Id_Cat])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_Productos] CHECK CONSTRAINT [FK_Tbl_Productos_Tbl_Categoria]
GO
ALTER TABLE [dbo].[Tbl_Productos]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Productos_Tbl_DetVentas] FOREIGN KEY([Id_DetVenta])
REFERENCES [dbo].[Tbl_DetVentas] ([Id_DetVenta])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_Productos] CHECK CONSTRAINT [FK_Tbl_Productos_Tbl_DetVentas]
GO
ALTER TABLE [dbo].[Tbl_Productos]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Productos_Tbl_Proveedor] FOREIGN KEY([Id_Proveedore])
REFERENCES [dbo].[Tbl_Proveedor] ([Id_Proveedore])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_Productos] CHECK CONSTRAINT [FK_Tbl_Productos_Tbl_Proveedor]
GO
ALTER TABLE [dbo].[Tbl_Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Ventas_Tbl_Cliente] FOREIGN KEY([Id_Cliente])
REFERENCES [dbo].[Tbl_Cliente] ([Id_Cliente])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_Ventas] CHECK CONSTRAINT [FK_Tbl_Ventas_Tbl_Cliente]
GO
USE [master]
GO
